body {
	margin: 0px;
}

#tableContainer {
	background-color: #83AFD9;
	text-align: center;
	padding: 20px;
}

#tableContainer > table {
	border-spacing: 1px;
	border-collapse: separate;
	margin: auto;
}

td {
  	border-radius: 3px;
  	height: 28px;
  	width: 28px;
}

.whiteSquare {
  	background: white
}

.blackSquare {
  	background: black
}

.repaint .whiteSquare {
  	background: black
}

.repaint .blackSquare {
  	background: white
}

#tableContainer > input {
	margin-top: 20px;
	height: 30px;
	line-height: 28px;
	border-radius: 3px;
	border: 1px solid white;
	background-color: white;
	text-transform: uppercase;
}